@font-face {
    font-family: 'Wind Song';
    src: url('../font/WindSong-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url("theme.css");

* {
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundlight);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
    color: var(--text);
}

hr {
  border: none;
  height: 2px;
  background-color: var(--emphasisblue);
  width: 70%;
  margin: 3rem auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    cursor: pointer;
}

body h1, body h2 {
    font-family: 'Wind Song';
    text-align: center;
}

.grid {
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
}

.header {
    font-family: 'Times New Roman', Times, serif;
    grid-area: header;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--backgroundlight);
	margin: 0;
    padding: 0.8rem 1.2rem;
}

.header nav ul li a {
    color: var(--text);
    padding: 0.8rem 1.2rem;
    font-size: 1.5vw;
}

.header nav ul li a:hover {
    background-color: var(--shadingpurple);
}


.footer {
    grid-area: footer;
    background-color: var(--emphasispurple); 
    color: var(--backgroundlight); 
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    padding: 0 1rem;
    gap: 0; 
    font-size: 1vw;
    text-align: center;
}

.footer .c1 {
    display: flex;
    align-items: center;
}

.footer .c2 {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.footer .c2 a{
    color: var(--backgroundlight);
}

.footer a:visited{
    color: var(--backgroundlight);
}

.footer a:hover{
    color: var(--emphasis);
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 2vw;

}

.main h2, h1{
    font-size: 2.7vw;
}

.back {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--emphasisblue);
    color: var(--emphasispurple);
    padding: 10px 15px;
    border-radius: 10%;
    text-align: center;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.back:hover {
    opacity: 1;
    transform: translateY(-5px);
    background-color: var(--emphasispurple);
    color: var(--emphasisblue);
    cursor: pointer;
}

@media (max-width:1024px){
hr{
    margin: 2rem auto;
}

.header nav ul {
    flex-wrap: wrap;         
    justify-content: center;  
    gap: 1rem;                
}

.header nav ul li a {
    font-size: 2vw;          
}

h1, h2 {
    font-size:4vw  !important;
    padding: 0 2%;
}

h4 {
    font-size:2.5vw;
}

p {
    font-size: 1.8vw;
}

.footer {
    display: flex;
    flex-direction: row;       
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.4vw;          
  }

.footer a, .footer p{
    margin-left: 1rem;
    font-size: 1.5vw;
}
}

@media (max-width:460px) {
.header nav ul {
    flex-direction: column;   
    align-items: center;
    gap: 0.6rem;
}

.header nav ul li a {
    padding: 0;
    font-size: 3vw;
}

body {
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-size:6vw !important;
}

p{
    font-size:2.8vw;
    padding: 0 1.8vw;
}

.footer .c1 p, .c2 a{
    font-size: 1.8vw;
    margin-left: 0;
    padding-left: 0;
}
}