@import url("theme.css");
.gallery {
    padding: 0.5vw 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

.photoscale {
    transition: transform ease-out 0.4s;
    max-height: 50vh;
}

.photoscale:hover {
    transform: scale(1.2);
}

@media (max-width:1024px){
.gallery {
    gap:15px;
    padding: 1vh 0;
} 

.photoscale{
    max-height:35vh;
}
}
